<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <div>
        <button class="Button" name="Zero" value="0">0</button>
        <button class="Button" name="One" value="1">1</button>
        <button class="Button" name="Two" value="2">2</button>
        <br/>
        <button class="Button" name="Three" value="3">3</button>
        <button class="Button" name="Four" value="4">4</button>
        <button class="Button" name="Five" value="5">5</button>
        <br/>
        <button class="Button" name="Six" value="6">6</button>
        <button class="Button" name="Seven" value="7">7</button>
        <button class="Button" name="Eight" value="8">8</button>
    </div>
</head>
<body>

</body>
</html>